<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SZV_M.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <SZV_M.My.MySettings>
            <setting name="Status" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MAN_md5" serializeAs="String">
                <value />
            </setting>
            <setting name="PE_md5" serializeAs="String">
                <value />
            </setting>
            <setting name="WPR_md5" serializeAs="String">
                <value />
            </setting>
        </SZV_M.My.MySettings>
    </userSettings>
</configuration>